[server]
server = 192.168.1.111
results_server = 192.168.1.111
time_limit = 120
port = 8051
sleep_time = 60
check_minutes = 5
api_key = wptapikey
firefoxpath = /var/www/webpagetest/installers/browsers/firefox-installer.exe
firefoxdatpath = /var/www/webpagetest/installers/browsers/firefox.dat

[mail]
username = mailer@example.com
password = password
mailhost = mail.example.com

[admin]
admin_toaddrs = wpt@example.com
admin_subject = wpt monitor jobs
admin_loglevel = DEBUG

[datazilla]
oauth_consumer_key = <guid>
oauth_consumer_secret = <guid>

[defaults]
locations = wpt-win60w:Firefox, wpt-win60w:IE, wpt-win60w:Chrome
urls = http://cnn.com/,http://www.yahoo.com/,http://www.mozilla.org/,http://www.amazon.com,http://baidu.com,http://yahoo.co.jp

[automatic]
jobs=job_nightly

[job_nightly]
email=wpt@example.com
label=Nightly
build=http://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/latest-mozilla-central/
urls=http://cnn.com/,http://www.yahoo.com/,http://www.mozilla.org/,https://facebook.com/,https://gmail.com/,http://pinterest.com/all/
prescript=firefoxPref\tgeneral.useragent.override\t"Some User Agent String"
scripts=cnn.wps,yahoo.wps,mozilla.wps,facebook.wps,gmail.wps,pinterest.wps
locations=bc-win61i32-bldw:Firefox
speeds=Broadband,ModernMobile,ClassicMobile
runs=3
tcpdump=on
video=on
datazilla=on
script=
hour=8
